:root {
    --white: #e5ddc8;
    --red: #c00;
    --black: #000;
}

body {
    height: 100%;
    background-color: var(--white);
    margin: 0;
    font-family: "Special Elite";
    text-align: center;
}

#title {
    margin-top: 40px;
}

#grid {
    margin: 0 auto;
    display: grid;
    outline: solid 10px var(--red);
    box-shadow: 0 0 30px var(--black);
    width: 282px;
    height: 562px;
    /* 350px × 650px */
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-areas:
                ". head head ."
                "arm spine heart ."
                "hand ribs stomach hand"
                ". leg leg ."
                ". leg leg ."
                ". foot foot ."; */
    background-image: url("image.png");
    background-repeat: no-repeat;
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -50%);
}
  
.grid-item {
    box-shadow: inset 0px 0px 0px 2px var(--red);
}

#blurb {
    width: 400px;
    height: 300px;
    border: 10px var(--red) solid;
    box-shadow: 0 0 30px var(--black);
    position: fixed;
    top: 45%;
    left: 10%;
    transform: translate(-10%, -50%);
}

h3 {
    color: var(--red);
}

p {
    color: var(--black);
}

#info {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.entry {
    text-transform: uppercase;
    color: var(--red);
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
}