:root {
    --white: #e5ddc8;
    --red: #c00;
    --black: #000;
    --brown1: #bdae9e;
    --brown2: #86715b;
}

body {
    height: 100%;
    background-color: var(--white);
    margin: 0;
    font-family: "Special Elite";
    text-align: center;
    color: var(--black);
}

#title {
    margin-top: 40px;
}

h2 {
    color: var(--brown2);
}

#grid {
    margin: 0 auto;
    display: grid;
    border: 5px var(--black) solid;
    box-shadow: 10px 10px 20px var(--brown2);
    width: 282px;
    height: 562px;
    /* 350px × 650px */
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-image: url("image.png");
    background-repeat: no-repeat;
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -50%);
}

#blurb {
    width: 400px;
    height: 300px;
    border: 5px var(--black) solid;
    box-shadow: 10px 10px 20px var(--brown2);
    position: fixed;
    top: 45%;
    left: 10%;
    transform: translate(-10%, -50%);
    background-color: var(--brown1);
    padding: 10px;
}

h3, .entry {
    color: var(--red);
    text-transform: uppercase;
}

#info {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.entry {
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
}